<launch>
  <!-- Launch IMU -->
  <include file="$(find imu_calib)/launch/imu_butterworth.launch" />

  <!-- Launch Hoverboard driver -->
  <include file="$(find hoverboard_driver)/launch/hoverboard.launch" />

  <!-- Launch robot_localization -->
  <include file="$(find robot_localization)/launch/sensor_fuse.launch" />

  <!-- Launch amcl -->
  <include file="$(find robot1_nav)/launch/amcl_nav.launch" />

  <!-- Add any static transforms, RViz, etc. here -->
</launch>