<launch>
    <!-- init hardware -->
  <include file="$(find robot1_bringup)/launch/hardware_bringup.launch"/>

    <!-- rosboard -->
  <!-- <include file="$(find rosboard)/launch/rosboard.launch"/> -->

    <!-- rosboard -->
  <include file="$(find robot1_bringup)/launch/record_data.launch"/>
</launch>