<launch>

  <include file="$(find robot1_bringup)/launch/hardware_bringup.launch"/>
  <!-- Gmapping SLAM -->
  <include file="$(find robot1_bringup)/launch/gmapping_config.launch" />
      <!-- rosboard -->
  <include file="$(find rosboard)/launch/rosboard.launch"/>

      <!-- rosboard -->
  <include file="$(find robot1_bringup)/launch/record_data.launch"/>
  
</launch>
