<launch>

  <!-- robot description -->  
  <include file="$(find urdf5)/launch/robot_des_from_robot.launch" />
  
  <!-- Launch IMU -->
  <include file="$(find imu_calib)/launch/imu_butterworth.launch" />

  <!-- Launch Hoverboard driver -->
  <include file="$(find hoverboard_driver)/launch/hoverboard.launch" />

  <!--Launch robot_localization-->
  <include file="$(find robot_localization)/launch/sensor_fuse.launch" />

  <!-- Launch lidar -->
  <include file="$(find ydlidar_ros_driver)/launch/lidar_ydlidarX3.launch" />

  <!-- Launch lidar cut -->
  <include file="$(find laser_filters)/launch/robot1_angle_filter.launch" />
scan
  <!-- Gmapping SLAM -->
  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
    <!-- Optional tuning -->
    <param name="odom_frame" value="odom"/>
    <param name="map_update_interval" value="1.0"/>
    <param name="maxUrange" value="8.0"/>
    <param name="particles" value="80"/>
    <remap from="/scan" to="/scan_filtered" />
  </node>
  
</launch>
