<launch>
  <!-- robot description -->  
  <include file="$(find robot_description_v5)/launch/robot_des_from_robot.launch" />
  
  <!-- Launch IMU -->
  <include file="$(find imu_calib)/launch/imu_butterworth.launch" />

  <!-- Launch Hoverboard driver -->
  <include file="$(find hoverboard_driver)/launch/hoverboard.launch" />

  <!--Launch robot_localization-->
  <include file="$(find robot_localization)/launch/sensor_fuse.launch" />

  <!-- Launch lidar -->
  <include file="$(find ydlidar_ros_driver)/launch/lidar_ydlidarX3.launch" />

      <!-- Launch lidar cut -->
  <include file="$(find laser_filters)/launch/robot1_angle_filter.launch"/>

      <!-- Launch lidar merge -->
  <include file="$(find ira_laser_tools)/launch/laserscan_multi_merger.launch"/>

  <node pkg="topic_tools" type="relay" name="cmd_vel_relay" output="screen">
    <remap from="in" to="/cmd_vel"/>
    <remap from="out" to="/hoverboard_velocity_controller/cmd_vel"/>
  </node>
  
  <!-- Start kinect360 -->
  <include file="$(find openni_launch)/launch/openni.launch" >
    <arg name="depth_registration" value="true" />
  </include>
  
</launch>



