<launch>
    <!-- init hardware -->
  <include file="$(find robot1_bringup)/launch/hardware_bringup.launch"/>

    <!-- Rtab_map -->
  <node pkg="rtabmap_odom" type="icp_odometry" name="icp_odometry" output="screen">
    <remap from="/imu" to="/imu/data" />
    <remap from="/scan" to="/scan_ydlidar" />
    <remap from="/odom" to="/odom/icp_odom" />
  </node>

    <!-- rosboard -->
  <include file="$(find rosboard)/launch/rosboard.launch"/>
</launch>