<launch>
  <!-- Define fixed save directory and bag filename -->
  <arg name="output_dir" default="/home/duc/rosbags"/>
  <arg name="bag_name" default="slam_session"/>

  <!-- Record all topics -->
  <node name="rosbag_record" pkg="rosbag" type="record" required="true"
        args="-O $(arg bag_name) /imu/data /odom /hoverboard_velocity_controller/odom"
        output="screen"/>
</launch>
