<launch>
  <arg name="output_dir" default="/home/duc/rosbags"/>
  <arg name="bag_name" default="slam_data"/>

  <node name="rosbag_recorder" pkg="rosbag" type="record" output="screen"
        args="-o $(arg output_dir)/$(arg bag_name) --overwrite /imu/butterfilter /odom /hoverboard_velocity_controller/odom /scan_ydlidar /scan_filtered" />
</launch>
