<launch>
    <!-- init hardware -->
  <include file="$(find robot1_bringup)/launch/hardware_bringup.launch"/>

    <!-- Launch depth to laser scan
  <include file="$(find kinect360)/launch/kinect360_depth_to_laser.launch"/> -->
    <!-- Launch lidar cut
  <include file="$(find laser_filters)/launch/robot1_angle_filter.launch"/> -->

    <!-- Rtab_map -->
  <node pkg="rtabmap_odom" type="rgbd_odometry" name="rgbd_odometry" output="screen">

    <remap from="/imu" to="/imu/data" />
    <remap from="rgb/image" to="/camera/rgb/image_mono" />
    <remap from="rgb/camera_info" to="/camera/rgb/camera_info" />
    <remap from="depth/image" to="/camera/depth_registered/image" />    
  </node>

    <!-- rosboard -->
  <include file="$(find rosboard)/launch/rosboard.launch"/>
</launch>