<launch>
    <!-- init hardware -->
  <include file="$(find robot1_bringup)/launch/hardware_bringup.launch"/>

    <!-- Launch depth to laser scan
  <include file="$(find kinect360)/launch/kinect360_depth_to_laser.launch"/> -->
    <!-- Launch lidar cut
  <include file="$(find laser_filters)/launch/robot1_angle_filter.launch"/> -->

    <!-- Rtab_map -->
  <include file="$(find rtabmap_bringup)/launch/rtabmap_no_odom.launch"/>
</launch>