<launch>
    <!-- init hardware -->
  <include file="$(find robot1_bringup)/launch/hardware_bringup.launch"/>

    <!-- Launch depth to laser scan
  <include file="$(find kinect360)/launch/kinect360_depth_to_laser.launch"/> -->

    <!-- Rtab_map -->
  <include file="$(find rtabmap_bringup)/launch/rtabmap_odom.launch"/>

</launch>