<launch>
  <!-- Launch IMU -->
  <include file="$(find imu_calib)/launch/imu_init_and_calib.launch" />

  <!-- Launch Hoverboard driver -->
  <include file="$(find hoverboard_driver)/launch/hoverboard.launch" />

  <!-- Launch lidar -->
  <include file="$(find ydlidar_ros_driver)/launch/lidar_ydlidarX3.launch" />

  <!--Launch robot_localization-->
  <include file="$(find robot_localization)/launch/sensor_fuse.launch" />

  <!--Launch slam_toolbox-->
  <include file="$(find slam_toolbox)/launch/robot1_lifelong.launch" />

  <!-- Add any static transforms, RViz, etc. here -->
</launch>