<launch>
  <!-- 1. Launch the IMU publisher node -->
  <node pkg="imu_calib" type="imu_publish.py" name="imu_publish" output="screen" />

  <node pkg="imu_calib" type="apply_calib" name="apply_calib" output="screen">
    <param name="calib_file" value="$(find imu_calib)/config/imu_calib.yaml" />
    <remap from="raw" to="/imu/raw" />
    <remap from="/corrected" to="/imu/corrected" />
  </node>
</launch>


