<launch>
  <arg name="rgb_topic"         default="/my_rgb_image_topic"/>
  <arg name="depth_topic"       default="/my_registered_depth_topic"/>
  <arg name="camera_info_topic" default="/my_camera_info_topic"/>
  <arg name="cloud_topic"       default="/points_xyz_downsampled"/>
  <arg name="frame_id"          default="base_link"/>

  <group ns="rtabmap">
    <!-- RGB-D Sync Nodelet (Not used in this case unless you set subscribe_rgbd=true) -->
    <node pkg="nodelet" type="nodelet" name="rgbd_sync" args="standalone rtabmap_ros/rgbd_sync">
      <remap from="rgb/image"       to="$(arg rgb_topic)"/>
      <remap from="depth/image"     to="$(arg depth_topic)"/>
      <remap from="rgb/camera_info" to="$(arg camera_info_topic)"/>
      <param name="approx_sync" value="false"/>
    </node>

    <node pkg="rtabmap_ros" type="rtabmap" name="rtabmap" output="screen" args="-d">
      <param name="frame_id" value="$(arg frame_id)"/>
      <param name="subscribe_depth" value="false"/>
      <param name="subscribe_rgb" value="false"/>
      <param name="subscribe_rgbd" value="false"/>
      <param name="subscribe_scan_cloud" value="true"/>
      <param name="approx_sync" value="true"/>

      <remap from="scan_cloud" to="$(arg cloud_topic)"/>
      <remap from="rgbd_image" to="rgbd_image"/>
      <remap from="odom" to="odom"/>

      <!-- RTAB-Map Parameters -->
      <param name="RGBD/NeighborLinkRefining" value="false"/>
      <param name="RGBD/ProximityPathMaxNeighbors" value="1"/>
      <param name="Reg/Strategy" value="1"/>
      <param name="Grid/CellSize" value="0.1"/>
      <param name="Grid/RangeMax" value="20"/>
      <param name="Grid/ClusterRadius" value="1"/>
      <param name="Grid/GroundIsObstacle" value="true"/>

      <!-- ICP Parameters -->
      <param name="Icp/VoxelSize" value="0.3"/>
      <param name="Icp/PointToPlaneK" value="20"/>
      <param name="Icp/PointToPlaneRadius" value="0"/>
      <param name="Icp/PointToPlane" value="true"/>
      <param name="Icp/Iterations" value="10"/>
      <param name="Icp/Epsilon" value="0.001"/>
      <param name="Icp/MaxTranslation" value="3"/>
      <param name="Icp/MaxCorrespondenceDistance" value="1"/>
      <param name="Icp/PM" value="true"/>
      <param name="Icp/PMOutlierRatio" value="0.7"/>
      <param name="Icp/CorrespondenceRatio" value="0.2"/>
    </node>
  </group>
</launch>
