<launch>
  <arg name="rtabmap_args" default="--delete_db_on_start" />
  <arg name="frame_id" default="base_link" />
  <arg name="use_sim_time" default="false" />
  <arg name="subscribe_scan" default="true" />
  <arg name="subscribe_rgbd" default="true" />
  <arg name="subscribe_depth" default="false" />
  <arg name="queue_size" default="30" />

  <node name="rtabmap" pkg="rtabmap_slam" type="rtabmap" output="screen"
        args="$(arg rtabmap_args)">
    <param name="frame_id" value="$(arg frame_id)" />
    <param name="use_sim_time" value="$(arg use_sim_time)" />
    <param name="subscribe_depth" value="$(arg subscribe_depth)" />
    <param name="subscribe_rgbd" value="$(arg subscribe_rgbd)" />
    <param name="subscribe_scan" value="$(arg subscribe_scan)" />
    <param name="queue_size" value="$(arg queue_size)" />
    <param name="approx_sync" value="true" />

    <!-- Remap topics -->
    <remap from="odom" to="/odom" />
    <remap from="scan" to="/scan_ydlidar" />
    <remap from="rgbd_image" to="/camera/depth_registered/points" />

    <!-- Optional tuning -->
    <param name="RGBD/NeighborLinkRefining" value="true" />
    <param name="RGBD/ProximityBySpace" value="true" />
    <param name="Reg/Strategy" value="1" /> <!-- 1 = ICP -->
    <param name="Reg/Force3DoF" value="true" />
    <param name="Grid/FromDepth" value="false" />
    <param name="Icp/VoxelSize" value="0.05" />
    <param name="Icp/MaxCorrespondenceDistance" value="0.1" />
    <param name="RGBD/AngularUpdate" value="0.01" />
    <param name="RGBD/LinearUpdate" value="0.01" />
    <param name="RGBD/OptimizeFromGraphEnd" value="false" />
  </node>
</launch>
