<launch>
  <!-- Node that just passes the cloud through -->
  <node pkg="nodelet" type="nodelet" name="xyz_filter" args="standalone pcl/Nodelet" output="screen">
    <param name="point_cloud_type" value="pcl::PointXYZ"/>
    <remap from="~input" to="/camera/depth_registered/points"/>
    <remap from="~output" to="/points_xyz"/>
  </node>
</launch>
