<launch>
  <node pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" name="depthimage_to_laserscan" output="screen">
    <remap from="image" to="/camera/depth/image_raw"/>
    <remap from="camera_info" to="/camera/depth/camera_info"/>
    <remap from="scan" to="/depth_scan_kinect"/>
    <param name="output_frame_id" value="camera_depth_frame" />
    <param name="range_min" value="0.3" />
    <param name="range_max" value="3" />
    <param name="scan_time" value="15" />
  </node>
</launch>