<launch>
  <node pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" name="depthimage_to_laserscan" output="screen">
    <remap from="image" to="/camera/depth/image_rect"/>
    <remap from="scan" to="/depth_scan_kinect"/>
    <param name="output_frame_id" value="camera_depth_frame" />
    <param name="range_min" value="0.3" />
  </node>
</launch>
