<launch>
  <!-- Load the URDF into the parameter server -->
  <param name="robot_description" command="$(eval 'cat ' + find('urdf5') + '/urdf/urdf5.urdf')" />


  <!-- Run robot_state_publisher to publish TFs -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <node pkg="tf" type="static_transform_publisher" name="base_link_to_camera_link" args="0.238 0 0.155 0 0 0 base_link camera_link 50"/>
</launch>