<launch>
  <!-- Load the URDF into the parameter server -->
  <param name="robot_description" command="$(find urdf2)/urdf/urdf2.urdf" />

  <!-- Start the robot_state_publisher -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <!-- Optional: dummy joint state publisher -->
  <!--node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" /-->

  <!-- Optional: RViz -->
  <!--node name="rviz" pkg="rviz" type="rviz" /-->
</launch>
