<launch>
<node pkg="laser_filters" type="scan_to_scan_filter_chain" output="screen" name="laser_filter1">
      <rosparam command="load" file="$(find laser_filters)/launch/robot1_angle_filter_config1.yaml" />
      <remap from="/scan" to="/scan_ydlidar" />
      <remap from="/scan_filtered" to="/scan_filtered1" />
</node>

<!-- <node pkg="laser_filters" type="scan_to_scan_filter_chain" output="screen" name="laser_filter2">
      <rosparam command="load" file="$(find laser_filters)/launch/robot1_angle_filter_config2.yaml" />
      <remap from="/scan" to="/scan_filtered1" />
      <remap from="/scan_filtered" to="/scan_filtered2" />
</node> -->

</launch>